[mysqld]
default_authentication_plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_allowed_packet=256M
innodb_log_file_size=256M
innodb_buffer_pool_size=1G
innodb_flush_log_at_trx_commit=2
innodb_read_io_threads=4
innodb_write_io_threads=4
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=2
log_error=/var/log/mysql/mysql-error.log
bind-address = 0.0.0.0
skip-name-resolve